
#map {
    position: relative;
}

.dot {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 12px;
    height: 12px;
    visibility: hidden;
}

#output, #input {
    width: 1000px;
    height: 200px
}

#input {
    visibility: hidden;
}

#mapImg {
    width: 2500px;
}

#counter {
    background-color: beige;
    float: right;
    position: fixed;
    top: 5px;
    left: 1200px;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 2px;
}